#formTable
{
    font-size: 14px;
}
#dataTable
{
    text-align:center;
    font-size: 12px;
}
#birthDate
{
    text-align:center;
}
img
{
    height: 50px;
    width: 50px;
    margin-top: 7px;
}
.radioHidden
{
    position:absolute;
    opacity:0;
}
input[type=radio]:checked + label>img {
    border: 2px solid rgb(85, 162, 238);
    border-radius:100px;
}
.button
{
    text-align:center;
} 
td
{
    width:140px;
}
th
{
    width:200px; 
}
#dataTable tr:not(:first-child):hover {
    background-color:#505050ac;
}
.input-group
{
    font-size: 18px;
    margin-bottom: 10px;
}
p
{
    text-align: left;
}
body
{
    background-color: #fff;
}

