#formTable
{
    font-size: 14px;
}
#dataTable, #msg, #msg1, #msg2
{
    text-align:center;
}
#dataTable
{
    font-size: 12px;
}
#birthDate
{
    width:300px;
    text-align:center;
}
#firstName, #lastName, #middleName
{
    width:300px;
}
img
{
    height: 35px;
    width: 35px;
    margin-top: 7px;
}
.radioHidden
{
    position:absolute;
    opacity:0;
}
input[type=radio]:checked + label>img {
    border: 2px solid gray;
    border-radius:100px;
}
#street
{
    width:220px;
}
#province, #region, #city, #barangay
{
    width:225px;
}
.button
{
    text-align:center;
} 

td
{
    width:140px;
}
th
{
    width:200px; 
}
#dataTable tr:not(:first-child):hover {
    background-color:#505050ac;
}
.input-group
{
    font-size: 18px;
    margin-bottom: 10px;
}
.containerbg
{
    margin:20px;
}

